[submodule "lib/chibios"]
	path = lib/chibios
	url = ssh://git@support.glorz.top:61322/qmk.keyboard.v3/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = ssh://git@support.glorz.top:61322/qmk.keyboard.v3/ChibiOS-Contrib
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/qmk/googletest
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://github.com/qmk/lufa
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://github.com/qmk/v-usb
[submodule "lib/printf"]
	path = lib/printf
	url = ssh://git@support.glorz.top:61322/qmk.keyboard.v3/printf
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/qmk/pico-sdk.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/qmk/lvgl.git
	branch = release/v8.2
[submodule "keyboards/common"]
	path = keyboards/common
	url = ssh://git@support.glorz.top:61322/qmk.keyboard.v3/common.git
[submodule "keyboards/wireless"]
	path = keyboards/wireless
	url = ssh://git@support.glorz.top:61322/qmk.keyboard.v3/wireless.git
